extends extends/_layoutTemplate.jade

block nav
  - var path = 'product.html'
  include ./components/nav/_c-nav.jade
  include ./components/nav/_c-sidebar.jade

block mainInner
  section.container-fluid.p-fixedNavSectionFirst.bg-light.mb-6.mb-lg-12
    .row
      // ul.container.list-inline.mb-0.p-productSubMenu.d-flex.flex-wrap
      ul.container.list-inline.mb-0.p-productSubMenu.d-flex.flex-wrap
        mixin productSubMenuRoot(name, url, num, index)
          if (name === 'All')
            li.list-inline-item.p-productSubMenu__item
              a.d-inline-block.text-decoration-none.text-primary.font-weight-bold.py-4.py-lg-6(href='#{url}')
                | #{name}<sup>#{num}</sup>
          else
            li.list-inline-item.p-productSubMenu__item
              a.d-inline-block.text-decoration-none.text-secondary.py-4.py-lg-6(href='#{url}')
                | #{name}<sup>#{num}</sup>
        // mixin productSubMenuRoot(name, url, num)
        each item, index in productData.list
          +productSubMenuRoot(item.name, item.url, item.num, index)
        // /mixin productSubMenuRoot(name, url, num)
      // /ul.container.list-inline.mb-0.p-productSubMenu.d-flex.flex-wrap
  // 桌機版
  section.container.d-none.d-lg-block.mb-0
    ul.list-unstyled.row.js-masonry-productList
      mixin productListRoot-desktop(onSaleStatus, bgImgClassName, productListTitle, price, originPrice)
        li.col-4.js-masonry-productList__item.mb-md-12
          a.d-block.text-black.text-decoration-none(href="detail.html")
            .position-relative.c-pseudoPhoto.mb-2(class=bgImgClassName)
              if (onSaleStatus == true)
                span.small.font-weight-bold.text-white.position-absolute.u-position-right.u-position-top.m-4
                  | On Sale
            div
              h2.h3.font-weight-bold.u-lineHeight-150.mb-1
                | #{productListTitle}
              p.mb-0
                span.mr-2
                  | #{price}
                if (originPrice !== '')
                  del.text-lightGray
                    | #{originPrice}
        // /li.col-4.js-masonry-productList__item.mb-md-12

      // mixin productListRoot-desktop(onSaleStatus, bgImgClassName, productListTitle, price, originPrice)
      +productListRoot-desktop( true , 'c-pseudoPhoto-100p c-pseudoPhoto--TatamiCup', 'Tatami Cup', 'NT$1,080', 'NT$1,200' )
      +productListRoot-desktop( true , 'c-pseudoPhoto-137p c-pseudoPhoto--HanaVase', 'Hana Vase', 'NT$3,600', 'NT$3,880' )
      +productListRoot-desktop( true , 'c-pseudoPhoto-68p c-pseudoPhoto--BaifanBowl', 'Baifan Bowl', 'NT$1,800', 'NT$1,980' )
      +productListRoot-desktop( false , 'c-pseudoPhoto-68p c-pseudoPhoto--LimdaeCup', 'Limdae Cup', 'NT$2,400', '' )
      +productListRoot-desktop( false , 'c-pseudoPhoto-100p c-pseudoPhoto--SumoVase', 'Sumo Vase', 'NT$4,800', '' )
      +productListRoot-desktop( false , 'c-pseudoPhoto-137p c-pseudoPhoto--CeramicVase', 'Ceramic Vase', 'NT$3,600', '' )
      +productListRoot-desktop( false , 'c-pseudoPhoto-137p c-pseudoPhoto--KabiMug', 'Kabi Mug', 'NT$980', '' )
      +productListRoot-desktop( false , 'c-pseudoPhoto-68p c-pseudoPhoto--ShiroPlate', 'Shiro Plate', 'NT$1,200', '' )
      +productListRoot-desktop( false , 'c-pseudoPhoto-100p c-pseudoPhoto--CoupleCollection', 'Couple Collection', 'NT$2,800', '' )
      // /mixin productListRoot(onSaleStatus, bgImgClassName, productListTitle, price, originPrice)
    // /ul.list-unstyled.row.js-masonry-productList

    nav.mb-lg-18
      ul.pagination.justify-content-center
        li.page-item.active
          a.page-link(href='#') 1
        li.page-item
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
    // /.pagination
  // /section.container
  // /桌機版
  // 行動版
  section.container.d-lg-none.mb-0
    ul.list-unstyled.row.mx-n1.mb-3
      mixin productListRoot-mobile(onSaleStatus, bgImgClassName, productListTitle, price, originPrice)
        li.w-50.px-1.mb-6
          a.text-black.text-decoration-none(href="detail.html")
            .position-relative.c-pseudoPhoto.c-pseudoPhoto-100p.mb-2( class=bgImgClassName )
              if ( onSaleStatus == true )
                span.small.font-weight-bold.text-white.position-absolute.u-position-right.u-position-top.m-2
                  | On Sale
            div
              h2.h4.font-weight-bold.u-lineHeight-150.mb-1
                | #{productListTitle}
              p.mb-0
                span.small.mr-2
                  | #{price}
                if (originPrice !== '')
                  del.text-lightGray
                    | #{originPrice}
        // /li.col-4.js-masonry-productList__item.mb-md-12

      // mixin productListRoot-mobile(onSaleStatus, bgImgClassName, productListTitle, price, originPrice)
      +productListRoot-mobile( true , 'c-pseudoPhoto--TatamiCup', 'Tatami Cup', 'NT$1,080', 'NT$1,200' )
      +productListRoot-mobile( true , 'c-pseudoPhoto--HanaVase', 'Hana Vase', 'NT$3,600', 'NT$3,880' )
      +productListRoot-mobile( true , 'c-pseudoPhoto--BaifanBowl', 'Baifan Bowl', 'NT$1,800', 'NT$1,980' )
      +productListRoot-mobile( false , 'c-pseudoPhoto--LimdaeCup', 'Limdae Cup', 'NT$2,400', '' )
      +productListRoot-mobile( false , 'c-pseudoPhoto--SumoVase', 'Sumo Vase', 'NT$4,800', '' )
      +productListRoot-mobile( false , 'c-pseudoPhoto--CeramicVase', 'Ceramic Vase', 'NT$3,600', '' )
      +productListRoot-mobile( false , 'c-pseudoPhoto--KabiMug', 'Kabi Mug', 'NT$980', '' )
      +productListRoot-mobile( false , 'c-pseudoPhoto--ShiroPlate', 'Shiro Plate', 'NT$1,200', '' )
      // /mixin productListRoot-mobile(onSaleStatus, bgImgClassName, productListTitle, price, originPrice)

    nav.mb-11
      ul.pagination.justify-content-center.mb-0
        li.page-item.active
          a.page-link(href='#') 1
        li.page-item
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
    // /.pagination
  // /行動版
  // _c-modalRightScrollable-callCart.jade
  include ./components/_c-modalRightScrollable-callCart.jade
  // /_c-modalRightScrollable-callCart.jade

block footer
  include ./components/_c-footer.jade