// c-nav
if (path !== "") 
  if (path === 'index.html')
    // if (path === 'index.html')
    .container-fluid.c-nav.c-visionNav.js-c-visionNav.fixed-top
      .row
        .container-xl
          nav.c-navbar.px-xl-0.py-xl-3
            a.material-icons.c-navbarLink.c-navbar__toggler.js-c-sidebarCollapse(href="#")
              | dehaze
            a.logo.c-navbar__logo.c-navbarLink(href="index.html")
              | craftsman
            ul.list-inline.d-flex.mb-0
              li.list-inline-item.d-none.d-xl-flex.mr-xl-0
                ul.list-inline.c-navbarNavMenu.mb-0
                  mixin NavMenuLink(url, name)
                    li.list-inline-item.c-navbarNavMenu__item.mr-xl-6
                      a.c-navbarLink(href='#{url}')
                        | #{name}
                  // mixin NavMenuLink(url, name)
                  each item in menuData.list
                    +NavMenuLink(item.url,  item.name)
                  // /mixin NavMenuLink(url, name)
                  //- li.list-inline-item.c-navbarNavMenu__item.mr-xl-6
                  //-   a.c-navbarLink(href='product.html')
                  //-     | Product
                  //- li.list-inline-item.c-navbarNavMenu__item.mr-xl-6
                  //-   a.c-navbarLink(href='blog.html')
                  //-     | Blog
                  //- li.list-inline-item.c-navbarNavMenu__item
                  //-   a.c-navbarLink(href='contact.html')
                  //-     | Contact
              li.list-inline-item.d-flex
                a.material-icons.c-navbarLink.c-navbarIconLink(href='cart.html') 
                  | shopping_cart
    // /if (path === 'index.html')
  else if (path === 'checkout-3.html')
    // else if (path === 'checkout-3.html')
    .container-fluid.c-nav.c-visionNav.fixed-top
      .row
        .container-xl
          nav.c-navbar.px-xl-0.py-xl-3
            a.logo.c-navbar__logo.c-navbarLink(href="index.html")
              | craftsman
    // /else if (path === 'checkout-3.html')
  else if (path === 'detail.html')
    // else if (path === 'detail.html')
    .container-fluid.c-nav.fixed-top
      .row
        .container-xl
          nav.c-navbar.px-xl-0.py-xl-3
            a.material-icons.c-navbarLink.c-navbar__toggler.js-c-sidebarCollapse(href="#")
              | dehaze
            a.logo.c-navbar__logo.c-navbarLink(href="index.html")
              | craftsman
            ul.list-inline.d-flex.mb-0
              li.list-inline-item.d-none.d-xl-flex.mr-xl-0
                ul.list-inline.c-navbarNavMenu.mb-0
                  mixin NavMenuLink(url, name)
                    li.list-inline-item.c-navbarNavMenu__item.mr-xl-6
                      if (path === url)
                        a.c-navbarLink.active.font-weight-bold(href='#{url}')
                          | #{name}
                      else
                        a.c-navbarLink(href='#{url}')
                          | #{name}
                  each item in menuData.list
                    +NavMenuLink(item.url,  item.name)
              li.list-inline-item.d-flex
                a.material-icons.c-navbarLink.c-navbarIconLink(href='cart.html') 
                  | shopping_cart
    // /else if (path === 'detail.html')

each item in menuData.list
  if (path === item.url)
    // if (path === item.url) 
    .container-fluid.c-nav.fixed-top
      .row
        .container-xl
          nav.c-navbar.px-xl-0.py-xl-3
            a.material-icons.c-navbarLink.c-navbar__toggler.js-c-sidebarCollapse(href="#")
              | dehaze
            a.logo.c-navbar__logo.c-navbarLink(href="index.html")
              | craftsman
            ul.list-inline.d-flex.mb-0
              li.list-inline-item.d-none.d-xl-flex.mr-xl-0
                ul.list-inline.c-navbarNavMenu.mb-0
                  mixin NavMenuLink(url, name)
                    li.list-inline-item.c-navbarNavMenu__item.mr-xl-6
                      if (path === url)
                        a.c-navbarLink.active.font-weight-bold(href='#{url}')
                          | #{name}
                      else
                        a.c-navbarLink(href='#{url}')
                          | #{name}
                  each item in menuData.list
                    +NavMenuLink(item.url,  item.name)
              li.list-inline-item.d-flex
                a.material-icons.c-navbarLink.c-navbarIconLink(href='cart.html') 
                  | shopping_cart
    // /if (path === item.url) 
    
// /c-nav